@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --light: #fcfcfc;
  --primary: #3185fc;
  --danger: #cc2936;
  --dark: #242331;
  --bg-color: #cfcfcf;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--light);
}

header {
  background-color: var(--dark);
  box-shadow: 0 2px 6px 2px grey;
}
header > nav {
  height: 4rem;
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.nav-logo {
  width: 3rem;
}
.nav-list {
  margin: 0 1rem;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav-item {
  height: 100%;
  padding: 0 0.5rem;
}
.nav-right {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: space-between;
}

.input-search {
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  margin: 3rem;
  padding: 0.8rem;
  border-radius: 2rem;
  border: none;
}
.input-search:focus {
  outline: none;
  background-color: var(--bg-color);
}

.user-section {
  display: flex;
  align-items: center;
  padding: 0.3rem;
}
.nav-item:hover {
  border-radius: 1rem;
  background-color: var(--bg-color);
  color: var(--dark);
}
.user-section:hover {
  border-radius: 1.5rem;
  background-color: var(--bg-color);
  color: var(--dark);
}

.user-section > .sign-in {
  display: flex;
  flex-direction: column;
}
